.picture {
	background-image: url('../img/Video_bg.png');
	background-repeat: round;

	min-height: 200px;
	margin-bottom: 10px;

}
.saving-section {
	background-color: rgba(237, 76, 92, 1);
	color: white;
	padding: 20px 0;
}
.saving-section .section-text {
	padding: 10px 0;

}
.saving-section .content-wrap {
	flex-direction: column-reverse;
}

@media (min-width: 1200px) {
	.saving-section .content-wrap {
	flex-direction: row;
	}
	.saving-section {
	padding: 95px 0;
	}
	.saving-intro {
		max-width: 445px;
		margin-right: 125px;
	}
	.picture {
		background-repeat: no-repeat;
	}

}	