
.section-title {
	flex-direction: column;
	text-align: center;
}
.features-list {
	position: relative;
	flex-direction: column;
	padding: 20px 0;
	text-align: center;
}
.picture-support {
	background-image: url('../img/Bg.png');
	background-repeat: round;
	background-repeat: no-repeat;
	min-height: 200px;
	border: 2px solid white;
	border-radius: 8px;
	
}
.text-support{
	position: absolute;
	min-height: 120px;
	width:85%;
	top: 180px;
	left: 20px;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
	background-color: white;
	align-items: center;

}
.picture-manage {
	background-image: url('../img/fg.png');
	background-repeat: round;
	background-repeat: no-repeat;
	min-height: 200px;
	margin-top: 120px;
	border: 2px solid white;
	border-radius: 8px;
}	
.text-manage {
	position: absolute;
	min-height: 120px;
	width: 85%;
	top: 480px;
	left: 20px;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
	background-color: white;
	align-items: center;
	}

.picture-cloudbudget {
	background-image: url('../img/gh.png');
	background-repeat: round;
	background-repeat: no-repeat;
	min-height: 200px;
	margin-top: 120px;
	border: 2px solid white;
	border-radius: 8px;
}

.text-cloudbudget {
	position: absolute;
	min-height: 120px;
	width: 85%;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
	top: 780px;
	left: 20px;
	background-color: white;
	align-items: center;
	}
	p {
		padding: 10px 0;
	}

@media (min-width: 1200px) {

	.picture-support .picture-manage .picture-cloudbudget {
		flex-direction: row;
		width: 350px;
		height: 250px;
		align-items: center;

	}
	/*.picture-support {
		top: 181px;
		left: 165px;
		right: 925px;
	}
	.picture-manage {
		top: 181px;
		left: 545px;
		right: 545px;
	}*/

	.text-support, .text-manage, .text-cloudbudget {
		flex-direction: row;
		width: 293px;
		height: 198px;

	}
	/*.text-manage {
		top: 338px;
		left: 545px;
		right: 545px;
	}
	.text-cloudbudget {
		top: 338px;
		left: 954px;
		right: 193px;
	}*/

}

