.page-header {
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
				url('../img/header.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.top-bar {
	padding-top: 20px;
}

.logo-img {
	margin-right: 10px;
}

.logo-title {
	text-transform: uppercase;
	color: var(--white);
	font-weight: 700;
}

.menu-icon {
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

.menu-icon i {
	font-size: 2rem;
	color: var(--white);
}

.menu-mobile {
	position: relative;
}

.burger-menu {
	position: absolute;
	right: 0;
	top: -9999px;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
	width: 100vw;
	
}
.menu-desktop, .r-side{
	display: none !important;

}

.page-header-content{
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	max-width: 580px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	color: var(--white);
}
.page-header-content .title{
	font-weight: 700;
	font-size: 2rem;
	padding-bottom: 20px;
	letter-spacing: 0.05em;
}
.page-header-content .subtitle{
	font-size: 1rem;
	padding-bottom: 40px;


}
.show-menu {
	top: 50px;
	text-align: center;
}
 .main-menu{

	color: black;
	line-height: 1em;
	text-transform: uppercase;
	font-size: 25px;
	list-style: none;
	text-decoration: none;
	text-align: center;
}
a {
	list-style: none;
	text-decoration: none;
	text-align: center;
	color: black;

}
li {
	border: 1px double white;
	margin: 20px 0;
	background-color: white; 
	padding: 10px;
}
	
.btn__login {
	display: inline-block;
	color: #ED4C5C !important;
	border: 2px solid white;
	border-radius: 25px;
	text-align: center;
	padding: 15px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: 900;
    font-size: 1.5rem;
	background-color: white;
}

@media (min-width: 768px) {
	.page-header-content .title{
	padding-bottom: 40px;
	font-size: 4.5rem;
	}
.page-header-content .subtitle{
	font-size: 1.5rem;
	}
}

@media (min-width: 1200px) {
	.top-bar .page-wrap {
		align-items: center;

	}
	li {
		background-color: transparent;
		border: none;
	}
	.menu-mobile {
		display: none;
	}
	.menu-desktop, .r-side{
		display: flex !important;
	}
	.menu-desktop .main-menu {
		display: flex;
		list-style: none;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: none;
	}
	.menu-desktop .main-menu a {
		text-decoration: none;
		color: white;
	}
	.menu-desktop .main-menu li:not(:last-child) {
		margin-right: 15px;

	}
	.r-side .lang-switch{
		align-items: center;
		color: var(--white);
		cursor: pointer;
	}
	.r-side .lang-switch .lang-switch-flag{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-right: 11px;
		background-image: url(../img/emojione-flag-for-flag-united-states.png);

	}
	.r-side .lang-switch .lang-switch-title{
		margin-right: 11px;
	}
.r-side .btn-login{
	margin-left: 11px;
}



}