* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.conteiner {
	display: flex;
	flex-direction: row;

	width: 1200px;
}


.column-left {
	float: left;
	width: 20%;
	height: 735px;
	background: darkolivegreen;
}
.photo {
	text-align: center;
}
.text {
	font color: palegoldenrod ;
	font-size: 15px;
}
h1{
	background: palegoldenrod;
	height: 80px;
	font-size: 50px;
	font-style: Snell Roundhand, cursive;
	float: center;
}
h2 {
	background: palegoldenrod;
	height: 50px;
}


